* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* For mobile phones: */
  [class*="col-s-"] {
  float: left;
  width: 100%;
  }
  
  @media only screen and (max-width: 786px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 { width: 100% ;}
  }
  @media only screen and (max-width: 992px) and (min-width: 786px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 { width: 100% ;}
  }
  @media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  .animate {
    transform: translateY(100px); /* initial position, off-screen */
    transition: transform 0.5s ease-in-out; /* animation duration and easing */
    }
    
    .animate.in-view {
    transform: translateY(0); /* final position, on-screen */
    }
/*#################   BACKGROUND SECTION   ################*/
.background {
    position: fixed;
    width: 100%;
    height: 140vh;
    background-image: url('./bg_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -10;
    }
    .inner-div {
        position: absolute;
        margin: 12% 0 0 -18%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%; /* Adjust the width as needed */
        height: 73%;
        justify-content: left;
        align-items: left;
        color: #000;
        z-index: 1; 
        }
      
        .fade {
          opacity: 0;
          transform: translateY(20px);
          animation: slideUp 0.5s forwards;
          animation-delay: 0.3s;
        }
        
        @keyframes slideUp {
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .txt{
            padding: 0% 0.5%;
            width: 100%;
            height: 100%;
        }
        
        .inner-div h1{
          font-weight: 400;
          padding: 0% !important;
          margin: -1% 0% 0% 0%;
          font-size: 3.2rem;
        }
        .txt h1:after {
            position: absolute;
            top: -5px;
            left: 5px;
            content: '';
            width: 40px;
            height: 4px;
            background: #96bb7c;
        }
        .title{
        font-size: 2.9rem;  
         text-align: left;
         font-weight: 1000;
         margin-top: 0;
         margin-bottom: 2%;
        }
        .inner-div p{
          margin-top: 2%;
          font-size: 1.1rem !important;
          line-height: 1.5;
          color: #777;
        }
        .button1{
          background: #96bb7c;
          border: none;
          border-radius: 3px;
          width: 130% ;
          height: 9vh;
          color: #fff;
          font-size: 0.9rem;
          padding: 0;
          margin: 0%;
          }
          .button-container {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
          }
          .play-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #96bb7c;
            background-color: #96bb7c;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            transition: border-color 0.3s;
          }
          .play-button i {
            color: #fff;
            font-size: 18px;
            transition: color 0.3s;
          }
          .button-text {
            color: #000;
            font-size: 15px;
            transition: color 0.3s;
          }
          .bg-section{
            height: 92vh; width: 100%;
          }
          .background-image2 {
            position: fixed;
            width: 100%;
            height: 92vh;
            background-image: url('./bg_2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            z-index: -10;
            }
          .inner-div2 {
            position: absolute;
            margin: 12% 0 0 -18%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 45%; /* Adjust the width as needed */
            height: 30%;
            justify-content: left;
            align-items: left;
            color: #000;
            z-index: 1; 
            }
            .image-overlay {
              display: flex;
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(204, 204, 204, 0.5);
              z-index: 1; 
              }
            .breadcrumbs {
              font-size: 14px;
              margin-bottom: 20px;
              text-transform: uppercase;
              font-weight: lighter;
              color: #666666;
          }
          .breadcrumbs span i{
            color: #96bb7c;
        }
            .bread {
              font-weight: 400 !important;
              position: relative;
              padding: 0% !important;
              margin: -1% 0% 0% 0%;
              font-size: 3.5rem;
          }
/*#################   CONTAINER SECTION   ################*/
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 5% 3%;
}
.darken{
  background-color: #8eb672;
}
.dark{
  background-color: #91b875;
}
.card img{
  width: 30%;
  height: 30%;
}
.card h3{
  margin: 16% 0 0 0 ;
  font-size: 1.2rem;
  font-weight: 500;
}
.card p{
  line-height: 1.8;
  color: #e6e1e1;
}
  
/*#################  ARCHLAB SECTION   ################*/
.arch{
  padding: 1% 8% 5% 0%;
}
.arch h1{
  font-size: 3.3rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}
.arch p{
  line-height: 1.8;
  color: #666666;
}
.dlp{
  display: flex;
  justify-content: space-between;
}
.display{
  width: 27%;
}
.archimg{
  width: 100%;
  height: 105vh;
}
.quote-form {
  margin-left: 4%;
  font-family: calibri;
  font-size: 1.1rem;
  position: relative;
  padding: 60px 20px;
  color: #fff;
  width: 100%;
  height: 105vh;
  background-color:  rgba(130, 165, 130, 1) ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px); /* Optional: add a blur effect to the background image */
}

.quote-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./about-2.jpg'); /* replace with your image path */
  background-size: cover;
  background-position: center;
  opacity: 0.6; /* Adjust the opacity to achieve the desired transparency effect */
  z-index: -1; 
}

.quote-form h2 {
  margin-bottom: 20px;
  font-size: 1.9rem;
  color: #ffffff; /* adjust color to match your design */
}

.quote-form input, .quote-form select, .quote-form textarea, .quote-form button {
  width: 97%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  outline: none; /* Remove the default outline when clicked */
}
.quote-form input,.quote-form textarea{
width: 97%;
}
.quote-form textarea{
  padding-bottom: 20% !important;
}

.quote-form input::placeholder, .quote-form textarea::placeholder {
  color: #fff;
  font-size: 1.1rem;
  font-family: Calibri, sans-serif;
}

.quote-form textarea {
  resize: vertical; /* Enable vertical resizing */
  overflow-y: auto; /* Add vertical scrollbar if needed */
  height: auto;
  max-height: 100px; /* Maximum height to prevent excessive expansion */
}

.quote-form button {
  background-color: #96bb7c;
  color: white;
  border: none;
  cursor: pointer;
}

.quote-form input:focus, .quote-form select:focus, .quote-form textarea:focus {
  border-bottom: 1px solid #dbd8d8; /* Maintain the white border when focused */
  outline: none; /* Remove the default outline when focused */
}

/*#################  COUNTER SECTION   ################*/
.counter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 0;
}
.counter-container p{
font-family: calibri;
color: #ccc;
}
.counter {
  font-size: 3.5rem;
  color: #96bb7c;
  font-family: calibri;
  padding-right: 5%;
}
.br{
border-right: 1px solid #eee;
width: 23%;
}


/*#################  PROJECTS SECTION   ################*/
.projects{
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 7% 9%;
  margin: 0;
}
.subheading {
  margin-left: 48%;
  display: inline-block;
  margin-bottom: 0;
  color: #96bb7c;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.subheading:before {
  position: absolute;
  top: 50%;
  right: -60px;
  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  margin-top: -1px;
  background: #96bb7c;
}
.subheading:after {
  position: absolute;
  top: 50%;
  left: -60px;
  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  margin-top: -1px;
  background: #96bb7c;
}
.projects h1{
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}
.image-container {
  float: right !important;
}
.text-container {
  float: left !important;
}
.p-img{
  width: 100%;
  height: 100vh;
}

.text {
  flex: 1;
  padding: 30% 3%;
  position: relative;
}

.line {
margin-left: -13%;
margin-top: 22%;
  width: 25%;
  height: 0.5px !important; 
  background-color: black;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.text:hover .line {
  width: 32%;
}

.content {
  padding-left: 60px;
}
.content h1{
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  text-align: left;
}
.date {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: #666;
  font-weight: 700;
}


.description {
  margin-bottom: 10px ;
  color: gray;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
}

.portfolio-link {
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
  color: #96bb7c;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 3px;
}

.content2 {
  padding-right: 60px;
  justify-content: right;
  align-items: right;
  text-align: right;
}

.content2 h1{
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  text-align: right;
}

.line2 {
  margin-top: 22%;
    width: 12%;
    height: 0.5px !important; 
    background-color: black;
    position: absolute;
    top: 0%;
    left: 88%;
    transform: translateY(-50%);
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .text:hover .line2 {
    width: 20%;
    left: 80%;
  }

/*#################  TESTIMONIAL SECTION   ################*/
  
.testimonial-slider {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  margin-top: 20PX;
}

.slide {
  min-width: 32%;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  transition: transform 0.5s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#slide-1 .fa, #slide-2 .fa, #slide-3 .fa, #slide-4 .fa, #slide-5 .fa, #slide-6 .fa, #slide-7 .fa {
  position: relative; /* Changed from absolute to relative */
  top: -6%; /* Removed top: -15px */
  z-index: 100;
  color: #96bb7c;
  font-size: 30px;
  margin-bottom: 0;
}


.slide P{
  color: #777;
  line-height: 1.6;
}
.client-info {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
}

.client-info img {
  border-radius: 50%;
  margin-right: 25px;
  height: 25%;
  width: 25%;
}

.client-info h3 {
  margin: 20px 0px 3px 0px;
  font-weight: 400;
  font-size: 1.3rem;
}
.client-info p {
  margin: 0;
  color: #ccc;
}
.dots {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #96bb7c;
  border: 1px solid #96bb7c;
}


/*#################  PRICE SECTION   ################*/

.price {
  display: flex;
  flex-direction: column;
  width: 29%;
  margin: 15px;
  text-align:left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.price img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 220px;
  width: 100%;
}

.price-list {
  padding: 5px;
}
.price-list ul {
  list-style: none;
  margin-left: -9%;
}
.price-list li {
  padding-bottom: 10px;
}
.price-list li span.fa {
  color: #96bb7c;
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 10px;
}
.price-info {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa ;
}
.price-info sup{
  font-size: 24px;
  top: -0.8em;
  color: #000000;
  font-weight: lighter;
}
.price-info sub {
  font-weight: lighter;
  font-size: 16px;
}
.price-info p{
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin: 8px 20px 8px 0px;
}
.price-info button{
  background-color: #96bb7c;
  color: #fff;
  width: 90%;
  border: 0px;
  padding: 18px 8px;
  border-radius: 3px;
  margin-top: 13px;
  margin-left: -10%;
}

/*#################  BLOG SECTION   ################*/

.post-card {
    background-color: #fff;
    width: 23%;
    margin: 10px;
    transition: transform 0.2s;
}

.post-card img {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
}

.post-info {
    padding: 15px;
}

.post-date {
    color: #ccc;
    font-size: 0.9em;
    margin:  10px 10px 10px 0;
}
.post-date span:hover{
    color: #333;
}
.post-admin, .post-comments {
    margin-left: 10px;
}
.post-comments i{
  margin-right: 5px;
}
.post-title {
    font-size: 1.2em;
    margin: 0;
    padding: 5% 3% 0 0;
    color: #333;
    font-weight: 400;
    line-height: 1.5;
}
.post-title:hover {
    color: #96bb7c;
}

/*#################   TEAM PAGE   ################*/
.team-container {
  justify-content: left;
  gap: 20px;
}

.team-member {
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  padding-bottom: 5%;
  margin: 1%;
  width: 23%;
}

.team-member img {
  width: 100%;
  height: auto;
}

.member-info {
  padding: 20px;
}

.member-info h3 {
  margin: -87px 0px 10px 0px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
.team-member:hover h3{
  color: #000;
}
.member-info p {
  margin: 0;
  font-size: 14px;
  color: #96bb7c;
  font-weight: bold;
}

/*#################   CONTACT PAGE   ################*/
.cform{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 7% 10% 0% 10%;
  display: flex;
  flex-direction: column;
}
.form {
  background-color: #f8f9fa;
  width: 70%;
  font-family: calibri;
  color: #96958e;
  font-weight: lighter;
  font-size: 19px;
  padding: 5%;
}
.form input{
  height: 50px;
  width:  100%; 
  border: 1px solid #cacac2;
  padding: 15px;
  border-radius: 5px;
}
.form textarea{
height:160px; 
width: 100%; 
border: 1px solid #cacac2;
padding: 15px;
border-radius: 5px;
resize: vertical;
}
.submitbutton {
  background-color: #96bb7c;
  color: #fff;
  border: 1px solid #96bb7c;       
  padding: 22px;
  cursor: pointer;
  width: 30%;
  height: 55px;
  font-weight: 500;
  border-radius: 5px;
  margin-left: -70%;
}
